version: '3.8'

services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_DB: gamingplatform
      POSTGRES_PASSWORD: SeMeN4565
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
volumes:
  postgres_data: