.wrapper
  width: max-content
  display: flex
  align-items: center
  gap: 10px
  background: var(--background)
  border: 1px solid hsl(var(--border))
  border-radius: 10px
  padding: 5px 10px

.tools
  display: flex
  align-items: center

.nickname
  color: hsl(var(--foreground))
  font-size: 14px
  margin: 0

.svg
  path
    stroke: hsl(var(--foreground))