<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>MM queue</title>
</head>
<body>
    <h1 id="game_hash_got">Game hash: </h1>
    <div>
        <span>type: enqueued</span>
        <input type="checkbox" id="elo_filter" placeholder="elo_filter"></input>
        <input type="text" id="target_players" placeholder="target_players"></input>
        <button type="button" onclick="enqueue()">Встать в очередь</button>
    </div>
    <div>
        <input type="radio" id="match_declined" name="type" value="match_declined"></input>
        <label for="match_declined">Decline Match</label>
        <input type="radio" id="match_accepted" name="type" value="match_accepted"></input>
        <label for="match_accepted">Accept Match</label>
        <input type="text" id="hash" placeholder="hash"></input>
        <button type="button" onclick="sendMessage()">Принять/Отклонить игру</button>
    </div>
    <button type="button" onclick="closesocket()">Выйти из очередь</button>
    <div id="message_data">
        <h1>Message recieved</h1>
    </div>
    <script>
        const socket = new WebSocket(
            'wss://localhost:8000/ws/match_queue'
        );
        socket.onopen = function(e){
            console.log('opened')
        };
        socket.onmessage = function(e) {
            document.getElementById('game_hash_got').innerText = '';
            var data = JSON.parse(e.data);
            for(let [key, value] of Object.entries(data)){
                if (key == 'hash'){
                    document.getElementById('game_hash_got').innerText += value;
                }
                document.getElementById('message_data').insertAdjacentHTML('beforeEnd',`<p>${key}:${value}</p>`);
            }
        };
        socket.onerror = function(e){
            console.log(e.data)
        }
        socket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };
        function enqueue() {
            var elo_filter = document.getElementById('elo_filter').checked;
            var target_players = document.getElementById('target_players').value;
            
            socket.send(JSON.stringify({
                type: "enqueued",
                elo_filter: elo_filter,
                target_players: parseInt(target_players),
                game: "Sid Meier's Civilization V"
            }))
        }
        function closesocket(){
            socket.close()
        }

        function sendMessage(){
            var message_type = document.querySelector('input[name="type"]:checked').value;
            var hash = document.getElementById('hash').value;
            socket.send(JSON.stringify({
                type: message_type,
                hash: hash
            }))
        }

    </script>
</body>
</html>