<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <button type="button" onclick="myFunction()">Invite</button>
    <button type="button" onclick="myFunction1()">Accept</button>
    <button type="button" onclick="myFunction2()">cancel</button>
    <button type="button" onclick="myFunction3()">decline</button>
    <button type="button" onclick="myFunction4()">delete</button>
    <script>
        const chatSocket = new WebSocket(
            'wss://127.0.0.1:8000/ws/friend'
        );
        chatSocket.onopen = function(e){
            console.log('opened')
        };
        chatSocket.onmessage = function(e) {
            console.log(JSON.parse(e.data))
        };
        chatSocket.onerror = function(e){
            console.log(e.data)
        }
        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };
        function myFunction() {
            console.log(JSON.stringify({
                type: 'create_invite',
                username: 'kirinw8'
            }))
            chatSocket.send(JSON.stringify({
                type: 'create_invite',
                username: 'kirinw8'
            }))
        }
        function myFunction1() {
            chatSocket.send(JSON.stringify({
                type: 'accept_invite',
                username: 'admin'
            }))
        }
        function myFunction2() {
            chatSocket.send(JSON.stringify({
                type: 'cancel_invite',
                username: 'kirinw8'
            }))
        }
        function myFunction3() {
            chatSocket.send(JSON.stringify({
                type: 'decline_invite',
                username: 'admin'
            }))
        }
        function myFunction4() {
            chatSocket.send(JSON.stringify({
                type: 'delete_friend',
                username: 'admin'
            }))
        }
    </script>
</body>
</html>