.login
  min-height: calc(100vh - 90px )
  &::before
    z-index: 1
    height: 100%
    width: 100%
    content: ''
    display: block
    position: absolute
    top: 0
    left: 0
    background: radial-gradient(65% 60.16% at 50% 44.19%, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.62) 0.01%, rgba(0, 0, 0, 0.83) 100%)
    background-image: url('./../public/bg.png')
    background-size: cover
    background-repeat: no-repeat
    filter: blur(50px)
  &__wrapper
    display: flex
    position: relative
    z-index: 2
  &__link
    text-decoration: none
    color: rgba(0, 0, 0, 0.60)
    font-size: 10px 
  &__button


.right
  border-radius: 0 var(--border-radius) var(--border-radius) 0
  width: 50%
  background: var(--red-gradient)
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  gap: 30px
  padding: 30px
  &__button
    border: 1px solid white 
  &__subtitle
    margin: 0
    color: var(--secondary-color)
    font-size: 16px
    font-weight: 400
    letter-spacing: .3px
    text-align: center
  &__title
    text-align: center
    color: var(--secondary-color)
  &__button
    text-decoration: none

.left
  gap: 15px
  border-radius: var(--border-radius) 0 0 var(--border-radius)
  width: 50%
  background: var(--secondary-color)
  padding: 30px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  &__title
    text-align: center
    color: var(--main-color)
  &__subtitle
    margin: 0
    text-align: center
    letter-spacing: 0.3px
    color: rgba(0, 0, 0, 0.60) 
  &__links
    display: flex
    gap: 15px
  &__link
    min-width: 30px
    display: flex
    justify-content: center
    gap: 20px
    align-items: center
    height: 30px
    width: 30px
    border-radius: 100%
    background: #ECECEC
    &_border
      border: 1px solid var(--gray-color)
  &__inputs
    width: 100%
    display: flex
    flex-direction: column
    gap: 15px
  &__button
    border-radius: 24px
    background: linear-gradient(90deg, #B32428 55.59%, rgba(211, 44, 7, 0.85) 100%) !important