:root 
  --bg-color: #222226
  --main-color: #333336
  --font-color: #999
  --secondary-font-color: #777 //шрифт на бг

  --white-color: #fff
  // offsets
  --tiny--offset: 10px
  --small-offset: 20px
  --middle-offset: 30px

  --container-offset: 70px

@import 'fonts.css'

body
  font-family: 'Open Sans'
  background: var(--bg-color)

.container
  max-width: 1540px
  padding: 0 10px
  margin: 0 auto

.text
  font-size: 16px
  font-family: 'Open Sans'
  color: var(--font-color)

.title
  font-size: 24px
  font-family: 'Open Sans'
  color: var(--font-color)

.subtitle
  font-size: 20px
  font-family: 'Open Sans'
  color: var(--font-color)

@media (max-width: 768px)
  .text
    font-size: 12px
  .title
    font-size: 20px
  .subtitle
    font-size: 16px
  
a
  &:hover
    filter: contrast(2)
    transition: filter .5s ease-out